<div class="block-video">
	<div class="block-video__wrapper">
		<iframe src="https://www.youtube.com/embed/{{getYoutubeID src}}" frameborder="0" allowfullscreen class="block-video__video"></iframe>
	</div>
</div>
