body {
	font-family: 'Signika', sans-serif;
	font-weight: 200;
	line-height: 1.4;
	padding: 1em;
}

p {
	margin-bottom: 1em;
}

.content {
	max-width: 42em;
	margin: 0 auto;
}

.block-image__image {
	max-width: 100%;
}
