<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    <link media="all" rel="stylesheet" href="{{ path '/normalize.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/site.css' }}">
    <title>Preview Layout</title>
</head>
<body>

{{{ yield }}}

</body>
</html>
